@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
}

.hidden {
    display:none;
}

.cabecalho {
  background-color: #ec362d;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.texto-cabecalho {
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 37px;
  font-weight: 700;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  position: relative;
}
/* --------------------INÍCIO PAGINA 1--------------------*/
.pagina1 {
  width: 70%;
  height: auto;
  margin-top: 77px;
  margin-bottom: 12px;
}

.quizzes-pessoal {
  width: 100%;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
  margin-bottom: 77px;
}

.texto-quizzes-pessoal-vaziu {
  font-size: 20px;
  font-weight: 400;
  color: #b9b9b9;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 23px;
}

.botao-criar-quizz {
  color: #ec362d;
  font-size: 21px;
  font-weight: 400;
  background-color: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  width: 151px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.texto-quizzes-todos {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
}

.quizzes-container {
  width: 100%;
}

.quizzes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quizz {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url(./imgs_pg1/Os-Simpsons.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  border-radius: 5px;
  width: 340px;
  height: 181px;
  display: flex;
  align-items: flex-end;
  margin-top: 12px;
  cursor: pointer;
}

.texto-quizz {
  color: #ffff;
  font-size: 19px;
  margin: 10px 18px 10px 18px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}

.texto-quizz:hover {
  text-decoration: underline;
}
/* --------------------FIM PAGINA 1--------------------*/

/* -------------------INICIO PAGINA 2-----------------*/
.pagina2 {
    width: 100%;
    height: auto;
  }
  .bannerquiz{
    width: 100%;
    height: 227px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    margin-bottom: 42px;
  }
  .tituloQuiz{
  opacity: 100%;
  }
  .Perguntaquiz{
    width: 688.16px;
    height: 612.43px;
    margin: auto;
    margin-bottom: 42px;
  }
  .textoPergunta{
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }
  .img1{
    width: 329.91px;
    height: 175.2px;
  }
  .img2{
    width: 329.91px;
    height: 175.2px;
  }
  .img3{
    width: 329.91px;
    height: 175.2px;
  }
  .img4{
    width: 329.91px;
    height: 175.2px;
  }
  .selecionado {
    color: #009C22;
  }
  .naoSelecionado {
    color: #FF4B4B;
    opacity: 40%;
  }

/*-------------------INÍCIO PÁGINA 3------------------*/
.criar-quiz {
    margin-top: 69px;
}

.basic-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.pagina3 h1 {
    margin-top: 71px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 23px;
}

.pagina3 h2 {
    font-weight: 700;
    font-size: 20px;
}

.basic-info fieldset {
    width: 600px;
    height: 259px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 9px;
    padding: 24px 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


input {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 23px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}

button {
    width: 355px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: none;
    margin-bottom: 50px;
}

button:hover {
  cursor: pointer;
}

.basic-info button {
    margin-top: 65px;
}

.criar-perguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.bannerquiz{
  width: 100%;
  height: 227px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  margin-bottom: 42px;
}

.criar-perguntas fieldset {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 28px;
    padding: 24px 16px;
    margin-bottom: 28px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}

.criar-perguntas h2 {
    margin-bottom: 12px;
}

.Perguntaquiz{
  width: 688.16px;
  height: 612.43px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.campo-pergunta, .campo-correta {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.campo-incorretas {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 14px; 
}
 
.img1{
  width: 329.91px;
  height: 175.2px;
}
.incorretas {
  width:100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.incorreta1, .incorreta2, .incorreta3 {
display: flex;
flex-direction: column;
gap: 14px;
}
.titulocaixa{
  width: 329.91px;
  height: auto;
  flex-wrap: wrap;
  font-family: Roboto;
font-size: 20px;
font-weight: 700;
}


